<div class="emerald-welcome-container">
  <h1 class="emerald-title">Welcome To Emerald</h1>
  <div class="emerald-content">
    <img src="<%= asset_path('logo.png') %>" alt="Emerald Logo" class="emerald-img" />
    <%= link_to "Enter", signin_path, class: "emerald-btn" %>
  </div>
</div>